gestures {
        hot-corners {
                off
        }
}

input {
        disable-power-key-handling
        keyboard {
                xkb {
                        layout "us,es"
                        options "grp:alt_shift_toggle,caps:escape"
                }
        }
}

output "HDMI-A-1" {
        mode "1920x1080@74.973"
        position x=0 y=0
}

layout {
        center-focused-column "always"
        always-center-single-column
        gaps 6

        default-column-width { proportion 0.8; }

        focus-ring {
                off
        }

        border {
                on
                width 1
                active-color   "#2D2D30"
                inactive-color "#37373A"
        }
}

hotkey-overlay {
        skip-at-startup
}

prefer-no-csd

animations {
        off
}

// Window Rules


window-rule {
        geometry-corner-radius 12
        clip-to-geometry true
}

window-rule {
        match app-id="com.saivert.pwvucontrol"
        default-column-width  { fixed 560; }
        default-window-height { fixed 300; }
        open-floating true
        default-floating-position x=40 y=2 relative-to="top-right"
}

// gimp has hard to see borders
window-rule {
        match app-id="gimp"
        shadow {
                on
                softness 9
                spread 1
                offset x=0 y=3
                color          "#00000059"
                inactive-color "#00000026"
        }
}

// Binds

binds {
        Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "ghostty" "+new-window"; }
        Mod+D      hotkey-overlay-title="Run Application" { spawn "fuzzel"; }
        Mod+Shift+S hotkey-overlay-title="Screenshot Area" { spawn-sh "grim -g \"$(slurp)\" - | satty -f -"; }
        Mod+Shift+P hotkey-overlay-title="Colorpicker"    { spawn-sh "hyprpicker | wl-copy"; }

        XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
        XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
        XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
        XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

        XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
        XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
        XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
        XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

        XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
        XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

        Mod+O repeat=false { toggle-overview; }
        Mod+Q repeat=false { close-window; }

        // Focus
        Mod+H     { focus-column-left; }
        Mod+J     { focus-window-down; }
        Mod+K     { focus-window-up; }
        Mod+L     { focus-column-right; }
        Mod+Left  { focus-column-left; }
        Mod+Down  { focus-window-down; }
        Mod+Up    { focus-window-up; }
        Mod+Right { focus-column-right; }

        // Move
        Mod+Shift+H     { move-column-left; }
        Mod+Shift+J     { move-window-down; }
        Mod+Shift+K     { move-window-up; }
        Mod+Shift+L     { move-column-right; }
        Mod+Shift+Left  { move-column-left; }
        Mod+Shift+Down  { move-window-down; }
        Mod+Shift+Up    { move-window-up; }
        Mod+Shift+Right { move-column-right; }

        Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
        Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

        Mod+1 { focus-workspace 1; }
        Mod+2 { focus-workspace 2; }
        Mod+3 { focus-workspace 3; }
        Mod+4 { focus-workspace 4; }
        Mod+5 { focus-workspace 5; }
        Mod+6 { focus-workspace 6; }
        Mod+7 { focus-workspace 7; }
        Mod+8 { focus-workspace 8; }
        Mod+9 { focus-workspace 9; }

        Mod+Shift+1 { move-column-to-workspace 1; }
        Mod+Shift+2 { move-column-to-workspace 2; }
        Mod+Shift+3 { move-column-to-workspace 3; }
        Mod+Shift+4 { move-column-to-workspace 4; }
        Mod+Shift+5 { move-column-to-workspace 5; }
        Mod+Shift+6 { move-column-to-workspace 6; }
        Mod+Shift+7 { move-column-to-workspace 7; }
        Mod+Shift+8 { move-column-to-workspace 8; }
        Mod+Shift+9 { move-column-to-workspace 9; }

        Mod+R { switch-preset-column-width; }
        Mod+F { fullscreen-window; }
        Mod+M { maximize-column; }
        Mod+Shift+M { maximize-window-to-edges; }

        Mod+Minus       { set-column-width "-10%"; }
        Mod+Equal       { set-column-width "+10%"; }
        Mod+Shift+Minus { set-window-height "-10%"; }
        Mod+Shift+Equal { set-window-height "+10%"; }

        Mod+Shift+Space { toggle-window-floating; }

        Mod+Escape     allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
        Mod+Shift+E                           { quit; }
}
